/config
/seed-[0-9]*
/validator-[0-9]*
/sentry-[0-9]*
/compute-[0-9]*
/client-[0-9]*
/w3-gateway-[0-9]*
/entity-[0-9]*
/envoy-[0-9]*
/runtime-*
/genesis.json
/.default
**/entity.addr
/localnet/**
/pcc-testnet/**
/*.log
/hela-node
/hela-evm.orc

wallet-testnet/.idea
wallet-testnet/*.iml
wallet-testnet/*.tmproj
wallet-testnet/*.sublime-workspace
wallet-testnet/.project
wallet-testnet/node_modules
wallet-testnet/docker/oasis-node/oasis-node
wallet-testnet/docker/mysql
wallet-testnet/docker/mysql_backup
wallet-testnet/elasticsearch-head/node_modules
wallet-testnet/elasticsearch-head/_site
